<html>
    <body>
        <form action="/update-product1" method="post">
        <fieldset style="margin-right: 70%;">
            Product Id : <input type="text" name="id" id="id1" value="<%=prod.prodId%>" readonly> <br> <br>
            Product Name : <input type="text" name="name" id="nm1" value="<%=prod.prodName%>"> <br> <br>
            Product Price : <input type="text" name="pr" id="sl1" value="<%=prod.price%>"> <br> <br>
            <button type="submit" id="btn" name="btn" value="btn">update product</button>
        </form>
        </fieldset>
    </body>
</html>